.beauty {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 250px;
}
.beauty__content {
  margin-right: 70px;
}
.beauty__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.beauty__more-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.beauty__content--title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 23px;
  color: var(--text-primary-color);
}

.beauty__content--title > span {
  color: var(--primary-color);
}

.beauty__content--pronounce {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: var(--text-primary-color);
  margin-bottom: 23px;
}

.beauty__content--desc {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.3px;
  color: var(--text-primary-color);
  position: relative;
}

.beauty__content--desc::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100px;
  height: 12px;
  background-color: var(--primary-color);
  border-radius: 100px;
}

.beauty__more-info--box {
  width: 350px;
  height: 270px;
  background: linear-gradient(117.78deg, #f9a8a5 34.55%, #e28a86 79.96%);
  border: 8px solid #f7f7f7;
  box-sizing: border-box;
  box-shadow: -40px 40px 50px rgba(85, 85, 85, 0.14);
  border-radius: 20px;
  position: relative;
  padding: 34px 40px 24px 40px;
}
.beauty__more-info--box:not(:last-child) {
  margin-right: 40px;
}
.beauty__more-info--box img {
  position: absolute;
  right: 10px;
  top: 10px;
}

.beauty__more-info--title {
  font-family: var(--primary-font);
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 100px;
  margin-bottom: 14px;
}

.beauty__more-info--desc {
  font-family: var(--primary-font);
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.3px;
  margin-bottom: 10px;
}

.beauty__more-info--src {
  font-family: var(--primary-font);
  color: white;
  opacity: 0.4;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 22px;
  letter-spacing: -0.3px;
}
