.header {
  width: 100%;
  margin-bottom: 18px;
  padding: 36px 100px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav--list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav--item > a {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.3px;
  color: var(--text-primary-color);
}
.header__nav--item:not(:last-child) {
  margin-right: 30px;
}

.header__nav--btn {
  margin-left: 60px;
  width: 90px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  text-align: center;
  border-radius: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.3px;
  color: #f7f7f7;
  box-shadow: 0px 5px 15px rgba(179, 94, 90, 0.4);
}
