.banner {
  width: 100%;
  padding: 0 100px;
  margin-bottom: 190px;
}
.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  margin-right: 8px;
}

.banner__content--title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 900;
  font-size: 70px;
  line-height: 80px;
  letter-spacing: 0.3px;
  color: var(--text-primary-color);
  margin-bottom: 30px;
}

.banner__content--desc {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: var(--text-second-color);
  margin-bottom: 40px;
}

.banner__option--list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.banner__option--item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner__option--item span {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: var(--text-second-color);
}

.banner__option--circle:not(:last-child) {
  margin-right: 8px;
}
.banner__option--item:not(:last-child) {
  margin-right: 30px;
}
.banner__option--circle {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f8d8d6;
}

.banner__option--circle > div {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--primary-color);
}

.banner__rank {
  background-color: var(--primary-color);
  display: inline-block;
  box-shadow: 16px 16px 60px rgba(179, 94, 90, 0.4);
  border-radius: 10px;
  padding: 15px 22px;
}

.banner__rank--title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.3px;
  color: #f7f7f7;
}

.banner__rank--desc {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #f7f7f7;
}
